In [1]:
import os 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
%matplotlib inline

In [2]:
file_path=os.path.join(os.getcwd() , "clustered" , "clustered_customer_03102025__142942.csv")
df=pd.read_csv(file_path)

In [3]:
df

,Education,Marital_Status,Income,Recency,wines,fruits,meat,fist,sweets,golds,...,StorePurchases,NumWebVisitsMonth,month_enroll,Generation,Age,Childrens,Compaigns_Engagement,Income_to_Spending_Ratio,Cluster,Cluster_Category
0,Undergraduate,Alone,58138.0,58,635,88,546,172,88,88,...,4,7,9,Baby Boomers,68,0,0,35.954236,0,Moderate Spender
1,Undergraduate,Alone,46344.0,38,11,1,6,2,1,6,...,2,5,3,Baby Boomers,71,2,0,969.270750,0,Moderate Spender
2,Undergraduate,Partner,71613.0,26,426,49,127,111,21,42,...,10,4,8,Gen X,60,0,0,92.284794,2,High Spender
3,Undergraduate,Partner,26646.0,26,11,4,20,10,3,5,...,4,6,2,Millennials,41,1,0,502.754717,1,Low Spender
4,PhD,Partner,58293.0,94,173,43,118,46,27,15,...,6,5,1,Millennials,44,1,0,138.135071,0,Moderate Spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2211,Undergraduate,Partner,61223.0,46,709,43,182,42,118,247,...,4,5,6,Gen X,58,1,0,45.654735,0,Moderate Spender
2212,PhD,Partner,64014.0,56,406,0,30,0,0,8,...,5,7,6,Baby Boomers,79,3,1,144.175676,0,Moderate Spender
2213,Undergraduate,Alone,56981.0,91,908,48,217,32,12,24,...,13,6,1,Millennials,44,0,1,45.915391,0,Moderate Spender
2214,Postgraduate,Partner,69245.0,8,428,30,214,80,30,61,...,10,3,1,Baby Boomers,69,1,0,82.141163,2,High Spender
2215,PhD,Partner,52869.0,40,84,3,61,2,1,21,...,4,7,10,Baby Boomers,71,2,0,307.377907,0,Moderate Spender

In [4]:
df["Cluster"].value_counts()

Cluster
0    781
1    737
2    698
Name: count, dtype: int64